html {
    background-color: #E4E9FD;
    background-image: linear-gradient(#A100FF, #3E00FF, #591FCE);
    min-height: 1000px;
    font-family: 'helvetica neue';
}

h1 {
    color: #591FCE;
    padding: 10px;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    border: 3mm ridge #591FCE;
}